:root{
--Yellow: hsl(47, 88%, 63%);

--White: hsl(0, 0%, 100%);

--Gray500: hsl(0, 0%, 42%);
--Gray950: hsl(0, 0%, 7%);
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: "Figtree", sans-serif;
  list-style-type:none ;
  text-decoration: none;
}

body{
    background-color: var(--Yellow) ;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    background-color:var(--White) ;
    max-width:384px ;
    min-height: 522px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid black;
    box-shadow: 8px 10px 0px black;
}

.container{
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-direction: column;
    
}   

.principal{
    align-items: center;
    max-height: 200px;
    max-width: 336px;
    border-radius: 10px;
}

.content-text{
    max-width: 336px;
}

.text-one{
    background-color: var(--Yellow);
    width: fit-content; 
    height: 29px ;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.paragraph-1{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 10px 10px 10px 0;
    color: var(--Gray950) ;
    text-shadow: 1px 1px 2px black;
}
.paragraph-1:hover{
    text-shadow: none;
}

.text-two{
    color: var(--Gray950);
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

/* ojo aca me dio duro este HOVER   solo por no tener la palbra pegada  (.text-two :hover)  lo tenia asi   */
.text-two:hover{
    color: var(--Yellow);
    cursor: pointer;
}

.paragraph-2{
    font-size: 16px;
    font-weight: medium;
    color: var(--Gray500);
    padding: 10px 10px 10px 0;

    text-align: start;
}

.content-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-profile{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    
}
.author-name{
    margin: 15px;
    font-weight: bold ;
    font-size:14px ;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
} 
